/* IMPORTO LOS ESTILOS DE EL STYLE CSS PARA TENER TODO RESETEADO Y LLAMO A LOS ICONOS DE BOOTSTRAP SOLO UNA VEZ */
@import url("../css/styles.css");

.container-main {
    height: 100vh;
}

.container-info-page {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact {
    background-color: #e1a2a2;
    align-self: center;
    width: 90%;
    height: 65%;
    border-radius: 10px;
    color: black;
    text-align: center;
}

.section-contact,
.section-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-contact {
    height: 35%;
    background-color: #302727;
    color: #f2861b;
}

.section-form {
    height: 65%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    background-color: #565656;
    padding: 1.2rem;
}

.form__p {
    font-size: small;
}

.form__label {
    /* La propiedad flex es una combinación de tres propiedades: flex-grow, flex-shrink, y flex-basis. */
    flex: 1;
    margin: 0 0.5rem;
}

.form__input {
    width: 100%;
    height: 1.4rem;
    border-radius: 10px;
    padding: 10px;
    border: none;
    outline: none;
}

.form__textarea {
    width: 100%;
    max-height: min-content;
    border-radius: 10px;
}

@media screen and (min-width: 520px) {
    .contact {
        width: 50%;
        height: 74%;
    }
}