/* IMPORTO LOS ESTILOS DE EL STYLE CSS PARA TENER TODO RESETEADO Y LLAMO A LOS ICONOS DE BOOTSTRAP SOLO UNA VEZ */
@import url("./styles.css");

.contact {
    width: 100%;
    min-height: 100vh;
    color: #156b20;
}

.contact__container {
    gap: .5rem;
    padding: 1rem;
    flex: 1;
}

.section-contact {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.form {
    text-align: center;
    padding: 2rem;
    flex-direction: column;
    gap: .8rem;
    border-radius: 10px;
    flex: 1;
    margin: 1.2rem .7rem;
    background: #eee;
    background: linear-gradient(0deg, #f5f5f5 0%, #eee 100%);
    box-shadow: rgba(189, 189, 189, 0.878) 0px 30px 30px -20px;
}

.form__p {
    font-size: small;
}

.form__input {
    font-size: 1rem;
    border: 1px solid #e5daae;
    outline: none;
    background-color: transparent;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 5px;
    box-shadow: #a5a5a5 0px 10px 10px -5px;
}

.form__input:focus {
    outline: none;
    border-inline: 2px solid #187f26;
}

.input-error {
    border: 1px solid red;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #ddf0e5 inset;
}

.btnSubmit {
    padding: .7rem 0;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    outline: none;
    background: linear-gradient(45deg, rgb(20, 106, 39) 0%, rgb(24, 203, 93) 100%);
    margin: 1rem 0;
    border-radius: 20px;
    box-shadow: rgba(185, 185, 185, 0.878) 0px 20px 10px -15px;
    transition: all 0.2s ease-in-out;
}

.form__img {
    display: none;
    border-radius: 10px;
    flex: 0 1 40%;
    position: relative;
    box-shadow: rgba(189, 189, 189, 0.878) 0px 30px 30px -20px;
    margin: 1.2rem .7rem;

}

.form__img::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #d1def539;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* ***********MODAL*********** */
/* .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
} */

/* .modal--visible {
    display: block;
} */

/* .modal-content {
    background-color: #fefefe;
    color: #494949;
    margin: 40vh auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.close-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
} */


/* SE REUTILIZO ESTILOS DE LOS OTROS MODALES LOS COLORES Y DEMAS SE PUEDEN MODIFICAR */
.modal {
    position: fixed;
    top: 0;
    transform: translateY(0);
    left: calc(50% - 300px);
    inset: 0;
    transform: scale(1);
    transition: transform .5s ease-in-out;
    background: transparent;
    z-index: 1;
}

.modal--hidden {
    transform: scale(0);
}

.modal__body {
    padding: 2rem;
    background-color: #fbfbfb;
    color: #444;
    line-height: 35px;
    border-radius: 10px;
}

.modal__btn-action-container {
    width: 98%;
    display: flex;
    justify-content: end;
    align-self: flex-end;
    align-items: end;
}

.modal__info {
    flex-direction: column;
}

.modal__icon {
    padding: .2rem;
    font-size: 1rem;
}

.modal__icon--error {
    color: #e9cc29;
    cursor: initial;
}

.modal__btn-action {
    background-color: #f6821b;
    color: #FFF;
    padding: .6rem 1rem;
    border-radius: 5px;
}


@media(hover: hover) {
    .btnSubmit:hover {
        transform: scale(1.03);
        box-shadow: rgba(185, 185, 185, 0.878) 0px 23px 10px -20px;
    }

    .close-btn:hover {
        background-color: #45a049;
    }
}

@media screen and (min-width: 530px) {
    .form {
        padding: 2rem 3rem;
        gap: 1rem;
    }
}

@media screen and (min-width: 830px) {
    .form {
        flex-basis: 60%;
    }

    .form__img {
        display: flex;
    }
}