/* IMPORTO LOS ESTILOS DE EL STYLE CSS PARA TENER TODO RESETEADO Y LLAMO A LOS ICONOS DE BOOTSTRAP SOLO UNA VEZ */
@import url("../css/styles.css");

.contact {
    width: 100%;
    min-height: 100vh;
    color: #302727;
}

.contact__container {
    gap: .5rem;
    padding: 1rem;
    flex: 1;
}

.section-contact {
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.form {
    text-align: center;
    background-color: #f8f4e5;
    padding: 1.2rem;
    flex-direction: column;
    gap: .8rem;
    border-radius: 10px;
    flex:1;
}

.form__p {
    font-size: small;
}

.form__input {
    font-size: 1rem;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #e5daae;
    outline: none;
    background-color: transparent;
}

.form__input:focus {
    border: 1px solid #f2861b;
}

.btnSubmit {
    padding: 1rem 0;
    background-color: #f2861b;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    outline: none;
}

.form__img {
    display: none;
    border-radius: 10px;
    flex: 0 1 40%;
    position: relative;
}

.form__img::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #00000038;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

@media screen and (min-width: 830px) {
    .form {
        flex-basis: 60%;
    }
    .form__img {
        display: flex;
    }
}