/* IMPORTO LOS ESTILOS DE EL STYLE CSS PARA TENER TODO RESETEADO Y LLAMO A LOS ICONOS DE BOOTSTRAP SOLO UNA VEZ */
@import url("./styles.css");

h1 {
    text-align: center;
    margin: 2rem 0;
}

.products {
    width: 95%;
    margin: 0 auto;
    padding: .8rem;
    min-height: inherit;
    color: #302727;
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.container-main__title {
    color: #f2861b;
}

.card-product {
    background-color: #fff;
    border-radius: 2px;
    padding: .7rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.36);
    flex: 1 1 45%;
}

.card-product__main {
    justify-content: space-around;
    flex-direction: column;
}

.card-product__body {
    max-height: 6rem;
    margin: 0 auto;
    border-radius: 5px;
}

.card-product__image {
    max-height: 100%;
}

.card-product__description {
    padding-bottom: .5rem;
}

.card-product__stock {
    font-weight: 500;
    color: #444;
}

.card-product__buy {
    padding-top: 1rem;
    border-top: 1px solid #ddd;
}

.card-product__price {
    font-weight: bold;
}

.card-product__input-quantity {
    border: 1px solid #f2861b;
    outline: none;
    max-width: 100%;
}

.card-product__btn {
    font-family: inherit;
    font-size: 1rem;
    text-align: center;
    color: #f0ecec;
    background-color: #19924f;
    cursor: pointer;
    border: 2px solid currentColor;
    padding: .3rem .5rem;
    border-radius: 8px;
    transition: all .5s ease-in-out;
    display: inline-block;
}

.bi-bag-plus-fill{
    font-size: 1.2rem;
}

.card-product__btn--disabled{
    background-color: #ec2424;
    opacity: .5;
    cursor:  not-allowed;
} 

.modal{
    position: fixed;
    top: 0;
    transform: translateY(0);
    left: calc(50% - 300px);
    inset: 0;
    transform: scale(1);
    transition: transform .5s ease-in-out;
    background: transparent;
}

.modal--hidden{
    transform: scale(0);
}

.modal__body{
    padding: 2rem;
    background-color: #e0d9d9;
    color: #444;
    line-height: 35px;
    border-radius: 10px;
}
.modal__info{
    flex-direction: column;
}

.modal__icon{
    padding: .2rem;
}

.modal__icon--error{
    color: #e9cc29;
    cursor:initial;
}

.modal__btn-action{
    background-color: #0f4b99;
    color: #FFF;
    padding: .6rem 1rem;
    border-radius: 5px;
}

.modal__btn-action--hidden{
    display: none;
}

.modal__image{
    width: 180px;
    height: 220px;
    flex: 1;

}

.modal__image > img{
    max-height: 100%;
    border-radius: 7px;
}

.modal__btn-confirm,
.modal__btn-cancel{
    padding: .4rem .6rem;
    color: #FFF;
}

.modal__btn-cancel{
    background-color: #bb1b1b;
}

.modal__btn-confirm{
    background-color: hsl(115, 70%, 32%);
}


/* ******************HOVERS****************** */
@media (hover: hover) {
    .card-product__btn:hover {
        background-color: #FFF;
        color: #19924f;
    }
}


/*************MEDIAQUERYS A PARTIR DE LOS 768PX*******************/
@media screen and (min-width: 768px) {
    .products {
        gap: 1rem;
    }

    .card-product {
        padding: 1.3rem;
        flex: 1 1 15rem;
        /* Si saco el max-width, si un producto queda solo debajo de todo se ensancha a la totalidad del contenedor*/
        max-width: 15rem;
    }

    .card-product__body {
        max-height: 10rem;
    }
}