/**************************************IMPORTACIÓN DE ICONOS**********************************************/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/**************************************IMPORTACIÓN DE FUENTES DE GOOGLE**********************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/****************************RESETEO ****************************************************/
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* PARA TODO EL CUERPO */
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #FDFDFD;
}

/* PARA CUERPO Y PRINCIPAL "MAIN" */
body,
main {
    min-height: 80vh;
}

/* PARA TODAS LAS LISTAS DESORDENADAS */
ul {
    padding-left: 0;
    list-style: none;
}

/* PARA TODOS LOS ENLACES */
a {
    text-decoration: none;
    color: #FDFDFD;
}

/* PARA TODAS LA IMAGENES */
img {
    object-fit: cover;
    max-width: 100%;
}

/* PARA  TODOS LOS ICONOS CON LA CLASE "BI" EXCLUYENDO AL ICONO DE BIENVENIDA*/
.bi {
    cursor: pointer;
}

/*************************CLASES PERSONALIZADAS CON ESTILOS POR DEFECTO********************************+*/
/* CLASE PARA TODAS LAS CAJAS FLEXBOX */
.d-flex {
    display: flex;
}

/* CLASE PARA ALINEACION CENTRADA */
.ai-center {
    align-items: center;
}

/* CLASE PARA CONTENIDO JUSTIFICADO */
.jc-center {
    justify-content: center;
}

/* CLASE PARA CONTENIDO SPACE-BETWEEN */
.jc-spaceB {
    justify-content: space-between;
}

/*********************************CONTENEDOR PRINCIPAL DE TODA LA PÁGINA**********************************/
.root-page {
    /* max-width: 98%; */
    min-height: inherit;
    /* margin: 0 auto; */
}

/************************************CABECERA DE PÁGINA**********************************************************/
.header-page {
    /* height: 10vh; */
    justify-content: space-between;
    padding: .7rem;
    background-color: #f55c0a;
}

.header-page__up,
.header-page__down {
    padding: .2rem;
}

.header-page__logo {
    font-size: 1rem;
    font-weight: 300;
}

.form-search__search {
    width: 7rem;
    height: 1.4rem;
    border-radius: 50px;
    padding: 10px;
    border: none;
    outline: none;
}

.form-search__search:focus {
    border: 3px solid #d14900;
}

/* ICONOS DEL HEADER */
.bi-cloud-moon-fill {
    margin-right: .5rem;
    cursor: initial;
}

/*************************CONTENEDOR PRINCIPAL DEL MAIN****************************/
.container-main {
    padding-bottom: 2rem;
}

/*********************************ASIDE NAVEGACIÓN***********************************/
/* LOGO */
.logo {
    /* width: 75px;
    height: 75px; */
    margin: .4rem 0;
    /* border-radius: 50%; */
    /* background-color: #fff; */
    /* color: #fff; */
    font-size: xxx-large;
}

.aside-nav {
    /* color: #873ce2aa; */
    background-color: #d14900;
    position: relative;
    flex-basis: 200px;
    gap: 1rem;
}

.nav-icon {
    margin: 0 .7rem;
}

.aside-nav--visible {
    display: none;
}

.nav {
    width: 100%;
    font-size: 1.2rem;
}

.nav--position {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4vh;
    background-color: #f55c0a;
}

.nav-list {
    height: 100%;
    gap: 1rem;
}

/**********************************CONTENIDO DE INFORMACÍON DE PÁGINA***********************************************/
.container-info-page {
    width: 100%;
    overflow-y: hidden;
}

/* BANNER */
.banner {
    height: 25vh;
    margin-bottom: 1rem;
    background-image: url(../images/shopping-cart.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
}

.banner__divisor {
    height: 3px;
    background-color: #FDFDFD;
    width: 85%;
    position: absolute;
    z-index: 1;
    top: 50%;
    align-self: center;
}

.banner::before,
.banner::after {
    width: 100%;
    font-weight: bold;
    padding: .8rem;
    background-color: rgba(168, 40, 1, 0.438);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.banner::before {
    content: "¡Ahorra hasta un 50% en productos seleccionados este mes!";
    font-size: 1.3rem;
    height: 50%;
    color: #FFF;
}

.banner::after {
    content: "Ofertas exclusivas para miembros del club de fidelidad. ¡Únete hoy!";
    font-size: 1.2rem;
    height: 50%;
    color: #dfdfdf;
}

/* SLIDE DE IMAGENES */
.slide {
    height: min-content;
    width: 100%;
    position: relative;
    padding: .5rem;
    margin-bottom: 1rem;
    /* background: rgba(16, 14, 35, 0.789); */
}

.slide__show {
    gap: 1rem;
}

.bi-arrow-left-circle-fill,
.bi-arrow-right-circle-fill {
    color: rgba(39, 38, 42, 0.765);
    font-size: 2rem;
    right: 1rem;
    position: absolute;
}

.bi-arrow-left-circle-fill {
    left: 1rem;
}

/* SECCION TARJETAS */
.section-cards {
    /* gap: 1rem; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    /* background-color: brown; */
    color: #FFF;
}

/* tarjeta */
.card {
    /* background: #ff6122; */
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    overflow: hidden;
}


/* contenedor de informacion de tarjeta */
.card__content {
    background-color: palevioletred;
    padding: 1rem;
}

/* contenedor de imagen */
.card__image-wrapper {
    width: 100%;
    /* background-color: aqua; */
}

.card__title {
    font-size: .8rem;
    text-align: center;
}

.card__description {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    font-size: .8rem;
}

.card__more-info {
    font-size: .8rem;
    color: #FFDD;
}


.card__body {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


.card__footer {
    align-self: center;
}

.card__image {}

.card__link-more {
    transition: all .5s ease-in-out;
}


/*********************************FOOTER******************************************************/
.footer {
    width: 100%;
    gap: .5rem;
    /* display: none; */
    align-items: center;
    height: 15vh;
    background-color: #d14900;
    flex-direction: column;
    color: #f8d9c8;
}

.footer-social {
    gap: 1rem;
    font-size: 1.3rem;
    padding-top: 5px;
}

.footer-social__list-up {
    transition: transform 0.3s ease;
}

/******************HOVERS***************************/
@media(hover: hover) {
    .card__link-more:hover {
        color: orange;
    }

    .footer-social__list-up:hover {
        transform: translateY(-5px);
    }
}


/***************************MEDIAQUERYS A PARTIR DE LOS 520PX***********************************/
@media screen and (min-width: 520px) {
    /* .footer--visible {
        display: block;
    } */

    .nav--position {
        display: none;
    }

    .nav-list--direction {
        flex-direction: column;
    }

    .aside-nav--visible {
        display: flex;
        flex-direction: column;
    }

    .container-main {
        padding-bottom: 0;
    }

    .banner {
        height: 30vh;
    }

    .footer {
        background-color: #f55c0a;
    }

}

/***************************MEDIAQUERYS A PARTIR DE LOS 920PX***********************************/
@media screen and (min-width: 920px) {

    .banner {
        height: 50vh;
    }

    .banner::before {
        font-size: 1.8rem;
    }

    .banner::after {
        font-size: 1.5rem;
    }
}